.scene {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;

  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.earth {
  background-color: burlywood;
  transform-origin: top left;

  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  transition: transform var(--animation-cycle) linear;
}

.block {
  background-color: white;
}

[data-lvl="0"].block {
  background: red;
}

[data-lvl="1"].block {
  background: yellowgreen;
}

[data-lvl="2"].block {
  background: rebeccapurple;
}

[data-lvl="3"].block {
  background: black;
}
