.main-box {
  min-width: 100vw;
  min-height: 100vh;

  background-color: rgba(144, 144, 144, 0.3);

  overflow: hidden;
  position: relative;
}

.left-panel,
.top-panel,
.right-panel,
.bottom-panel {
  background-color: gray;
  position: absolute;
}

.top-panel,
.right-panel {
  width: 100px;
  height: 100%;
}

.left-panel,
.right-panel {
  top: 100px;
  width: 100px;
  height: calc(100% - 200px);
}

.right-panel {
  right: 0;
}

.top-panel,
.bottom-panel {
  width: 100%;
  height: 100px;
}

.bottom-panel {
  bottom: 0;
}

.panel {
  z-index: 1;
}
