.ork.unit {
  position: absolute;
  z-index: 1001;

  transition-property: left, top;
  transition-timing-function: linear;
  transition-duration: var(--animation-cycle);

  overflow: hidden;
}

.ork .model {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;

  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(0) scale(2);
  background-size: 100% 100%;
  background-position: center;
}

.ork.wait .model {
  background-image: url("./wait.gif");
  background-position: -3px -10px;
}

.ork.run .model {
  background-image: url("./run.gif");
  background-size: 70% 90%;
  background-position: -3px -10px;
}

.ork.move .model {
  background-image: url("./move.gif");
  background-size: 120% 95%;
  background-position: -3px -10px;
}

.ork.attack .model {
  background-image: url("./attack.gif");
  background-size: 160% 90%;
  background-position: 30% 130%;
  background-position: -3px -10px;
}

.ork.hit .model {
  background-image: url("./hit.gif");
  background-size: 100% 95%;
  background-position: -5px -5px;
}

.ork.die .model {
  background-image: url("./die.gif");
  background-size: 100% 95%;
  background-position: -5px -5px;
}

[data-direction="none"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(0deg);
}

[data-direction="right"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(0deg);
}

[data-direction="right-top"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(30deg);
}

[data-direction="top"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(60deg);
}

[data-direction="left-top"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(150deg);
}

[data-direction="left"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(180deg);
}

[data-direction="right-bottom"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(210deg);
}

[data-direction="bottom"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(-120deg);
}

[data-direction="left-bottom"].ork {
  transform: rotateX(60deg) translateY(-80%) rotateY(-30deg);
}
